* {
    margin: 0px;
}
body {
    color: rgb(0, 0, 78);
    text-align: center;
    background-color: #F6F6FF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 78);
}

.nav-wrapper {
    margin: 20px 100px;
    width: 80vw;
}

.logo {
    width: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6FF;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.cta-btn {
    background-color:#025AFF;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-btn-text {
    text-align: center;
    color: #ffffff;
    
}

/* HERO */
.hero {
    width: 100vw;
    background-color: #F6F6FF;
}

.hero-h1 {
    text-align: center;
    font-size: 36px;
    padding: 0px 0px 5px 0px;
}

.hero-h2 {
    text-align: center;
    font-size: 18px;
    padding: 0px 0px 50px 0px;
}

/* PRICE */

.pricing-main-div {
    background-color: #fcfcfc;
    padding: 50px 0px 0px 0px;
    height: auto;
    display: flex;
    justify-content: center;
}

.card-main-div {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 220px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.card-price-div {
    width: 100%;
    height: 140px;
    background-color: #d4fae0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.card-price-text-large {
    font-size: 42px;
}

.card-price-text-small {
    font-size: 12px;
}